.wrapper {
  width: 100%;
  height: 100vh;
  perspective: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  overflow-y: auto;
  background-color: black;
  overflow-x: hidden;
}

.sunSet {
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  transform-style: preserve-3d;
}

.backgroundSky {
  $yellow: #FFFC3A;
  $red: #FA1ABB;
  $cyan: #19EEFE;
  $blue: #161256;
  $pink: #F556FB;
  $sky-color-gradient: black, $blue 25%, $pink;
  $sun-color-gradient: $yellow, $red;

  z-index: -1;
  position: absolute;
  width: 100vw;
  height: 100%;
  background: linear-gradient(180deg, $sky-color-gradient);
  top: 0;
  //background-image: linear-gradient(transparent 60%, #e90ef5), radial-gradient(transparent 60%, rgba(36, 99, 245, 0.5)), radial-gradient(ellipse at 50% 400%, #e90ef5, transparent 70%);
  transform: translateZ(-40px) scale(5);

}


.sunContainer {
  position: relative;
  width: 40vw;
  height: 40vw; //reato 1
  z-index: 2;
  transform: translateZ(-30px) translateY(-50px) scale(3);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.starsContainer {
  position: absolute;
  width: 100%;
  height: 30%;
  z-index: 1;
}

.birdsContainer {
  position: absolute;
  width: 100vw;
  top: 200px;
  height: 50%;
  z-index: 2;
}

.gridContainer {
  position: relative;
  width: 200vw;
  z-index: -8;
  transform: translateZ(-9px) translateY(-350px) scale(1);
  bottom: 0;
}

.cityWrapper {
  position: relative;
  width: 100vw;
  height: 500px;
  z-index: 480;
  transform: translateZ(-10px) translateY(-250px) scale(2);
  border-bottom: solid black 100px;

  &:before {
    content: "";
    display: block;
    bottom: -100%;
    width: 100vw;
    height: 4px;
    background: #fff;
    box-shadow: 0 0 8px #fff, 0 0 16px #fff, 0 0 24px #af62ff, 0 0 32px #af62ff;
    position: relative;
    filter: blur(1px);
    z-index: 120;
  }


  &:after {
    content: "";
    display: block;
    width: 100%;
    height: 467px;
    top: -100px;
    z-index: -1;
    position: relative;
    background-color: black;
  }
}

.mountainsWrapper {
  position: relative;
  width: 100vw;
  height: 600px;
  z-index: 179;
  transform: translateZ(-20px) translate(0px, -300px) scale(3);
  top: 0;

  &:after {
    content: "";
    display: block;
    width: 100%;
    top: -50px;
    height: 150px;;
    position: relative;
    background-color: black;
  }
}


.barContainer {
  position: absolute;
  bottom: 0;
  z-index: 1000;
  transform: translateZ(5px) translate(0, -15vh) scale(1);
}