$breakpoint-mobile: 420px;

.wrapper {
  width: 100%;
  height: 100vh;
  perspective: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  overflow-y: auto;
  background-color: black;
  overflow-x: hidden;
  // -ms-overflow-style: none; /* IE and Edge */
  // scrollbar-width: none; /* Firefox */
}

//.wrapper::-webkit-scrollbar {
//  display: none;
//}

.sunSet {
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  transform-style: preserve-3d;
}

.backgroundSky {
  $yellow: #FFFC3A;
  $red: #FA1ABB;
  $cyan: #19EEFE;
  $blue: #161256;
  $pink: #F556FB;
  $sky-color-gradient: black, $blue 25%, $pink;
  $sun-color-gradient: $yellow, $red;

  z-index: -1;
  position: absolute;
  width: 100vw;
  height: 100%;
  background: linear-gradient(180deg, $sky-color-gradient);
  top: 0;
  //background-image: linear-gradient(transparent 60%, #e90ef5), radial-gradient(transparent 60%, rgba(36, 99, 245, 0.5)), radial-gradient(ellipse at 50% 400%, #e90ef5, transparent 70%);
  transform: translateZ(-40px) scale(5);
}

.sunContainer {
  position: relative;
  width: 40vw;
  height: 40vw; //reato 1
  z-index: 2;
  transform: translateZ(-30px) translateY(-50px) scale(3);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.starsContainer {
  position: absolute;
  width: 100%;
  height: 30%;
  z-index: 1;
}

.birdsContainer {
  position: absolute;
  width: 100vw;
  top: 200px;
  height: 50%;
  z-index: 2;
}

.gridContainer {
  position: relative;
  width: 200vw;
  z-index: -8;
  transform: translateZ(-10px) translateY(-490px) scale(1);
  bottom: 0;
}

.cityWrapper {
  position: relative;
  width: 200vw;
  height: 500px;
  z-index: 480;
  transform: translateZ(-10px) translateY(-350px) scale(1);
  min-height: 500px;

  &:after {
    content: "";
    display: block;
    width: 200vw;
    height: 4px;
    background: #fff;
    box-shadow: 0 0 8px #fff, 0 0 16px #fff, 0 0 24px #af62ff, 0 0 32px #af62ff;
    position: relative;
    filter: blur(1px);
    z-index: 120;
  }
}

.mountainsWrapper {
  position: relative;
  width: 100vw;
  height: 600px;
  z-index: 179;
  transform: translateZ(-20px) translate(0px, -300px) scale(3);
  top: 0;

  @media (max-width: $breakpoint-mobile) {
    transform: translateZ(-20px) translate(0px, -150px) scale(3);
  }

  &:after {
    content: "";
    display: block;
    width: 100%;
    height: 150px;;
    position: relative;
    // background-image: linear-gradient(to top, black, black, black, #3e024b, #41056a, #520578, #640385, #770092, #9b0089, #b8007e, #ce1173, #e03168);
    //background: linear-gradient(#e66465, #9198e5);
    background-repeat: no-repeat;
    background: radial-gradient(circle at 50% 50%, black, #3e024b, #41056a, #520578, #640385, #770092, #9b0089, #b8007e, #ce1173, #e03168);

    box-shadow: inset 0 1px 4px -3px white;
  }
}

.barContainer {
  position: absolute;
  bottom: 0;
  z-index: 1000;
  transform: translateZ(5px) translate(0, -20vh) scale(0.5);
}

.textContainer {
  width: 100%;
  height: 100%;
  top: 15%;
  position: absolute;
  transform: scale(0.5);
}