$breakpoint-mobile: 420px;
$black: #000;
$brass: #b6a644;

.card {
  background: $black;
  color: $brass;
  text-align: center;
  height: 100%;
  outline: $brass solid 1px;
  outline-offset: -25px;
  width: fill-available;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @media (max-width: $breakpoint-mobile) {
    margin: 0 6px;

    outline: $brass solid 1px;
    outline-offset: -11px;
  }

  &:after {
    content: "";
    border: 2px solid $brass;
    display: block;
    position: absolute;
    top: 36px;
    left: 12px;
    right: 12px;
    bottom: 50px;

    @media (max-width: $breakpoint-mobile) {
      top: 20px;
      left: 8px;
      right: 8px;
      bottom: 20px;
    }

    @media (max-width: $breakpoint-mobile) {
      border: 0.5px solid $brass;
    }
  }
}

.quote {
  padding: 50px 30px;
  height: min-content;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

  @media (max-width: $breakpoint-mobile) {
    padding: 25px 14px;
  }

  p {
    height: 100%;
    min-width: 30px;
    font-size: 0.7em;

    @media (max-width: $breakpoint-mobile) {
      font-size: 1em;
    }

    &:before {
      content: "\201C";
    }

    &:after {
      content: "\201D";
    }
  }
}

.footer {
  position: absolute;
  background: black;
  padding: 0 10px;
  font-size: 0.6em;
  bottom: 3px;

  @media (max-width: $breakpoint-mobile) {
    font-size: 0.8em;
    bottom: 0;
  }
}
