@import url("https://fonts.googleapis.com/css2?family=Poiret+One&display=swap");

$breakpoint-mobile: 420px;
$black: #000;
$brass: #b6a644;
//$font-family: "Poiret One", cursive;
$font-family: "Apple Chancery", cursive;

.card {
  background: $black;
  color: $brass;
  font-family: $font-family;
  text-align: center;
  border: 2px solid $brass;
  margin: 23px 40px;
  height: fill-available;
  width: fill-available;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @media (max-width: $breakpoint-mobile) {
    border: 0.5px solid $brass;
    margin: 10px 14px;
  }

  &:after {
    content: "";
    margin: 20px 30px;
    border: 2px solid $brass;
    display: block;
    position: absolute;
    top: 15px;
    left: -2px;
    right: -2px;
    bottom: 26px;

    @media (max-width: $breakpoint-mobile) {
      margin: 20px;
      top: -2px;
      left: -14px;
      right: -14px;
      bottom: 4px;
    }

    @media (max-width: $breakpoint-mobile) {
      border: 0.5px solid $brass;
    }
  }
}

.quote {
  padding: 9px 0;
  height: min-content;
  width: 100%;

  @media (max-width: $breakpoint-mobile) {
    padding: 5px 0;
  }

  p {
    height: 100%;
    min-width: 30px;
    font-size: 0.7em;

    @media (max-width: $breakpoint-mobile) {
      font-size: 1em;
    }

    &:before {
      content: "\201C";
    }

    &:after {
      content: "\201D";
    }
  }
}

.footer {
  position: absolute;
  background: black;
  padding: 0 10px;
  font-size: 0.8em;
  bottom: -5px;

  @media (max-width: $breakpoint-mobile) {
    font-size: 0.8em;
    bottom: 0;
  }
}
