$breakpoint-mobile: 420px;

.container {
  position: relative;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(to right, #2c3e50, #4ca1af);
  cursor: crosshair;
  @media (max-width: $breakpoint-mobile) {
  }
}

