$breakpoint-mobile: 420px;

.buttonContainer {
  background-color: transparent;
  border: unset;
  width: 250px;
  height: 100%;
  cursor: pointer;

  @media (max-width: $breakpoint-mobile) {
    width: 100px;
  }

}

.button {
  display: grid;
  box-sizing: border-box;
  grid-template-columns:
    [outer-start]  5px
    [mid-start]    5px
    [inner-start]  2px
    [gap-start]    1fr
    [gap-end]      2px
    [inner-end]    5px
    [mid-end]      5px
    [outer-end];
  grid-template-rows:
    [outer-start]  5px
    [mid-start]    5px
    [inner-start]  2px
    [gap-start]    1fr
    [gap-end]      2px
    [inner-end]    5px
    [mid-end]      5px
    [outer-end];

  &:focus,
  &:hover {
    background: transparent;
    box-shadow: 0 0 5px RGB(204, 255, 21), inset 0 0 15px RGB(204, 255, 21);
    filter: drop-shadow(30px 30px 30px #7401ef);
  }

  &:focus,
  &:hover .leftTop {
    box-shadow: 0 0 5px lightcoral, inset 0 0 5px lightcoral;
    filter: drop-shadow(30px 30px 30px lightcoral);
  }

  &:focus,
  &:hover .leftBottom {
    box-shadow: 0 0 5px lightcoral, inset 0 0 5px lightcoral;
    filter: drop-shadow(30px 30px 30px lightcoral);
  }

  &:focus,
  &:hover .rightTop {
    box-shadow: 0 0 5px lightcoral, inset 0 0 5px lightcoral;
    filter: drop-shadow(30px 30px 30px lightcoral);
  }

  &:focus,
  &:hover .rightBottom {
    box-shadow: 0 0 5px lightcoral, inset 0 0 5px lightcoral;
    filter: drop-shadow(30px 30px 30px lightcoral);
  }
}

.buttonContent {
  grid-area: inner;
  color: rgb(185, 164, 107);
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: "__limeLight_42fa27", serif;
  font-size: 2.2em;

  @media (max-width: $breakpoint-mobile) {
    font-size: 0.8em;
  }
}

.inner {
  grid-area: mid;
  border: 1px solid plum;

  &:focus,
  &:hover {
    background: transparent;
    box-shadow: 0px 0px 15px plum, inset 0 0 15px plum

  }
}

.leftTop {
  grid-column: outer-start / inner-start;
  grid-row: outer-start / inner-start;
  border: 1px solid lightcoral;
}

.leftBottom {
  grid-column: outer-start / inner-start;
  grid-row: inner-end / outer-end;
  border: 1px solid lightcoral;
}

.rightTop {
  grid-column: inner-end / outer-end;
  grid-row: outer-start / inner-start;
  border: 1px solid lightcoral;
}

.rightBottom {
  grid-column: inner-end / outer-end;
  grid-row: inner-end / outer-end;
  border: 1px solid lightcoral;
}

.tall {
  grid-column: gap-start / gap-end;
  grid-row: outer-start / outer-end;
  border-top: 1px solid aquamarine;
  border-bottom: 1px solid aquamarine;
}

.wide {
  grid-column: outer-start / outer-end;
  grid-row: gap-start / gap-end;
  border-left: 1px solid khaki;
  border-right: 1px solid khaki;
}
