node_modules
dist
.next
.husky
coverage
.prettierignore
.eslintignore
next.config.js
package-lock.json
public
lint-staged.config.js
.eslintrc.js
src/**/*.css
src/**/*.scss
src/**/*.module.scss
app/*.css
app/*.scss
app/*.module.scss