.container {
  display: flex;
  flex-direction: row;
  background-color: black;
  height: 100%;
  overflow-y: scroll;
}

.textContainer {
  background-color: black;
  white-space: pre-line;
  font-family: Avenir, Arial, serif;
  font-size: 1.0rem;
  color: white;
  line-height: 1.25em;
  letter-spacing: .05em;
  margin-left: 5%;
  width: 90%;
  height: fit-content;
}

.title {
  font-family: "Mona Sans", Helvetica, Arial, serif;
}

.text {

}

.scrollLine {
  width: 10%;
  height: 100%;
}
