$breakpoint-mobile: 420px;

.container {
  position: static;
  height: inherit;
  width: 100%;
  background-color: #164B45;
  color: #B9A46B;
  top: auto;
  border: 2px solid #72634C;
  outline: 2px solid #72634C;
  outline-offset: -12px;

  gap: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  transition: all 2s ease;
}

.sticky {
  position: fixed;
  top: 0;
}

.hide {
  transform: translateX(100vw);
}


.circle {
  width: 10px;
  height: 10px;
  background-color: #2A2829;
  border: 1px solid #BDB390;
  border-radius: 50%;
  margin-bottom: 5px;
}

.circles {
  position: relative;
  margin-top: 5px;

  &.left {
    left: 2em;
    @media (max-width: $breakpoint-mobile) {
      left: 0.5em;
    }
  }

  &.right {
    right: 2em;
    @media (max-width: $breakpoint-mobile) {
      right: 0.5em;
    }
  }
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;

}
