.leftHeadAnimationContainer {
  position: relative;
  background-color: #164B45;
  width: 30%;
  height: 100%;
  left: 0;
}

.leftHeadAnimation {
  position: sticky;
  background-color: blue;
  width: 100%;
  height: 40vh;
  top: 100px;
  transform: translateX(-150%);
  transition: all 3s ease;
}

.show {
  left: 0;
  transition: all 3s ease;
  background-color: red;
  transform: translateX(0%);
}

.head {
  width: 100%;
  height: 100%;
  object-fit: contain;
}