$breakpoint-mobile: 420px;

.frontPage {
  height: 100vh;
}

.sectionContainer {
  height: fill-available;
  max-height: 100vh;
  max-width: 100vw;
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;

  &::-webkit-scrollbar {
    background-color: #D62929;
    background-image: -webkit-linear-gradient(90deg,
            transparent,
            rgba(0, 0, 0, 0.4) 50%,
            transparent,
            transparent);
    width: 10px;
    @media (max-width: $breakpoint-mobile) {
      width: 0px;
    }
  }

  &::-webkit-scrollbar-track {
    border-radius: 10px;
  }

  /*style the thumb of your scrollbar*/
  &::-webkit-scrollbar-thumb {
    background: repeating-linear-gradient(
                    120deg,
                    green 0 7%,
                    white 8% 15%
    );
    border-radius: 100vw;
    border: solid 2px hsl(120 5% 0% /1);
  }
}

.section1 {
  scroll-snap-align: start;
  scroll-snap-stop: always;
  height: 100%;
}

.section2 {
  scroll-snap-align: start;
  scroll-snap-stop: always;
}

.section3 {
  scroll-snap-align: start;
  scroll-snap-stop: always;
}
