//@custom-media --big (width >= 400px); // zrobić takie zmienne i ich yżywać zamst zwykłych media qyery. mozę używac jaki mixinów ?

.frontPage {
  height: 100vh;
}

.container {
  width: 100vw;
  height: 100vh;
  background-color: green;
}

.section1 {
  scroll-snap-align: start;
  scroll-snap-stop: always;
  height: 100%;
}

.section2 {
  scroll-snap-align: start;
  scroll-snap-stop: always;
}

.section3 {
  scroll-snap-align: start;
  scroll-snap-stop: always;
}