.sky {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  overflow: hidden;
}

.shootingStar {
  position: absolute;
  width: 2px;
  height: 2px;
  background-color: #fff;
  animation: shooting-stars linear infinite;
}

.normalStar {
  position: absolute;
  width: 2px;
  height: 2px;
  background-color: white;
  border: 4px dotted #eeeeee;
  border-radius: 50%;

}

@keyframes shooting-stars {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(100vh);
  }
}

.shootingStar:nth-child(1) {
  top: -10px;
  left: 20%;
  animation-duration: 2s;
}

.shootingStar:nth-child(2) {
  top: -20px;
  left: 40%;
  animation-duration: 3s;
}

.shootingStar:nth-child(3) {
  top: -30px;
  left: 60%;
  animation-duration: 4s;
}

.shootingStar:nth-child(4) {
  top: -40px;
  left: 80%;
  animation-duration: 5s;
}

.shootingStar:nth-child(5) {
  top: -50px;
  left: 90%;
  animation-duration: 6s;
}

