$breakpoint-mobile: 420px;

.leftSide {
  width: 100%;
  z-index: 1;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 4;

  @media (max-width: $breakpoint-mobile) {
    grid-row-start: 3;
  }
}

.rightSide {
  position: relative;
  width: 100%;
  display: flex;

  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;

  @media (max-width: $breakpoint-mobile) {
    grid-column-start: 1;
  }
}

.borderMenu {
  width: 100vw;
  height: 100px;
  z-index: 1000;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 4;

  @media (max-width: $breakpoint-mobile) {
    height: 80px;
  }
}

.intersectionMainAnimationsContainer {
  width: 100%;
  height: 150vh;
  display: grid;
  grid-template-columns: 20vw 80vw;
  grid-template-rows: 100px minmax(150px, min-content) 1fr;

  background-image: url('/wallpaper-art-deco.jpg');

  @media (max-width: $breakpoint-mobile) {
    grid-template-rows: 80px minmax(150px, min-content) 1fr;
  }
}
