@import url('https://fonts.cdnfonts.com/css/streamster');
//@import url('https://fonts.googleapis.com/css?family=Vibur:400');

.bar {
  width: 100vw;
  height: 60px;
}

.neon {
  height: 100%;
  width: fit-content;
  left: 25%;
  transform: translateX(-50%) rotate(-8deg);
  color: #fff;
  text-align: center;
  font-family: streamster, serif;
  //font-family: "Vibur", sans-serif;

  font-size: 6rem;
  text-shadow: 0 0 8px #fff,
  0 0 24px #fff,
  0 0 32px #f80022,
  0 0 40px #f80022;
  position: relative;

  .neonWord:nth-child(1) {
    animation: neon 1.7s infinite alternate;
  }

  .neonWord:nth-child(2) {
    animation: neon 1.7s infinite alternate-reverse;
  }
}

@keyframes neon {
  0%, 18%, 22%, 26%, 58%, 62%, 100% {
    text-shadow: 0 0 8px #fff,
    0 0 24px #fff,
    0 0 32px #f80022,
    0 0 40px #f80022;
  }
  20%, 24%, 60% {
    text-shadow: none;
  }
}

#neon::before {
  content: "{";
  position: absolute;
  inset: 1vw 0 0 6vw;
  transform: rotate(3deg);
}