.container {
  background-color: black;
  overflow: scroll;
  height: 100%;
}

.textContainer {
  background-color: black;
  white-space: pre-line;
  font-family: Avenir, Arial, serif;
  font-size: 1.0rem;
  color: white;
  line-height: 1.25em;
  letter-spacing: .05em;
  margin: 0 10%;
}

.title {
  font-family: "Mona Sans", Helvetica, Arial, serif;
}

.text {

}