$breakpoint-mobile: 420px;
$black: #000;
$brass: #b6a644;

.clockContainer {
  position: sticky;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 100px;
  width: 100%;
  height: 400px;
  @media (max-width: $breakpoint-mobile) {
    width: 100%;
    height: fit-content;
    top: 80px
  }
}
