$labs-sys-color-sun-1: #fdb428;
$labs-sys-color-sun-2: #f672ca;
$labs-sys-color-sun-glow: #b9f;
$labs-sys-color-triangle: #6eccee;
$labs-sys-color-grid: #fac4ff;
$labs-sys-color-grid-glow: #df7373;

$base-speed: 12s;

.gridComponent {
  height: 400px;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
}

.grid {
  position: absolute;
  inset: 0;
  --line-width: 0.0635rem;
  background: linear-gradient(
                  to right,
                  #{$labs-sys-color-grid} var(--line-width),
                  transparent var(--line-width)
  ),
  linear-gradient(
                  to bottom,
                  #{$labs-sys-color-grid} var(--line-width),
                  transparent var(--line-width)
  );
  background-size: 30px, 1px 30px;
  transform: rotateX(47deg) scale(6) translateZ(-140px);
  animation: grid calc(#{$base-speed} * 1) linear infinite;
  border-top: 1px solid  #{$labs-sys-color-grid};
  filter: drop-shadow(0 0 2px #{$labs-sys-color-grid-glow});

}


.bottom {
  background: black;
  perspective: 14.5rem;
  flex: 0 0 12.5rem;
  position: relative;
  width: 100vw;
}

@keyframes grid {
  from {
    background-position-y: -200px;
  }

  to {
    background-position-y: 0%;
  }
}
