$breakpoint-mobile: 420px;


.bubble {
  position: absolute;
  width: clamp(80px, 30vw, 200px);
  transform: translate(0%, -50%);
  top: 0;
  left: 50%;
  z-index: 100;

  @media (max-width: $breakpoint-mobile) {
    transform: translate(0%, -75%);
    width: 50px
  }
}

.bubbleText {
  position: absolute;
  left: 50%;
  top: 25%;
  transform: translate(-50%, -50%);
  width: max-content;
  font-size: clamp(10px, 3vw, 20px);

  @media (max-width: $breakpoint-mobile) {
    font-size: 7px
  }
}
